@use "../abstract/variables" as *;
@use "../abstract/variables" as *;



.header {
    width: 100%;
    height: 30vh;
    position: relative;
    
    
    

    &__logo {
        
        text-align: center;
    
    }
    

    &__logo img {
        height: 50px;
        text-align: center;
        margin-top: 10px;
        
        
    
    
    }

    &__nav {
        margin-top: 20px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        
    }

    &__nav li {
        padding-bottom: 5px;
    }

    &__nav ul {
    
        list-style: none;
    }

    &__nav a {
        text-decoration: none;
        font-size: 0.8rem;
        color: $text;
        font-weight:800;
        border: none;
        text-transform: uppercase;
        
    
    }

    &__nav a:hover {
        color: $brown;
    }

}
