@use "../abstract/variables" as *;
@use "../components/mixins" as *;



.header {
    // width: 100%;
    // height: 30vh;
    color: $white;
    text-align: center;
    
    &__content {
        max-width: 475px;
        margin: 0 auto;
        padding: 2rem;
    }
    
    
    

    &__logo {
        
        text-align: center;

        img {
            height: 50px;
            text-align: center;
            margin-top: 10px;       
        }
    
    }
    

    

    &__nav ul {
        padding: 0;
        margin: 0 0 2rem;
        list-style: none;

        li {
            margin-top: 0.3rem;
        }

        a {
            color: $title;
            text-decoration: none;
            font-size: 0.9rem;
        }
    }

    &__nav a:hover {
        color: $brown;
    }

}
