@use "../abstract/variables" as *;
@use "../components/mixins" as *;


.header {
    padding: 1.5rem 1rem;

    &__content {
        max-width: 320px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
    }

    &__logo img {
        display: block;
        width: 140px;
        height: auto;
    }

    &__nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.75rem;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            font-size: 0.8rem;
            color: $title;
        }

        a:hover {
            color: $brown;
        }
    }

}

/* VERSION TABLETTE — À PARTIR DE 620PX */
@media (min-width: 620px) {
    .header {
        padding: 1rem 2rem;

        .header__content {
            max-width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }

        .header__logo img {
            width: 110px;
        }

        .header__nav ul {
            flex-direction: row;
            gap: 1.2rem;
        }

        .header__nav a {
            font-size: 0.7rem;
            letter-spacing: 0.1em;
        }
    }
}