:root {
    --text: #3d3d3d;
    --title:#191919;
    --brown: #ab864c;
    --white: #fff;  
}

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '';
}

.body {
    line-height: 1.6rem;
}

h1 h2 h3 h4 {
    font-family: "Kaisei Decol" ;
}

p{
    font-family: "poppins";
}

/*Header*/

.header {
    width: 100%;
    height: 40vh;
    
}

.header__logo {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    text-align: center;
}

.header__logo img {
    height: 60px;
}

.header__nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 5px;
}

.header__nav a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--title);
    font-weight:800;
    border: none;
    text-transform: uppercase;
    
}

.header__nav a:hover {
    color: var(--brown);
}

/*Bannière*/

.banner {
    width: 100%;
    height: 100vh;
    background-color: var(--white); /*pour repérage*/
    
    /* background-color: lightgray; */
}

.banner img {
    width: 100%;
    height: 33vh;
    margin-top: 20px;
    object-fit: cover;
}

.banner__title {
    background-color: #fdfdfc;
    width: 70%;
    height: 15vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    position: relative;
    bottom: 200px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 5px;
    
}

.banner__title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;    
}

.banner__quote {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
gap: 10px;
}

.banner__quote p {
    font-weight: 500;
}

.banner__extrait {
    font-size: 0.8rem;
    padding: 15px;
    position: relative;
    top: 50px;
    border: solid 1px var(--text);
}

.product {
    width: 100%;
    height: 200vh;
    background-color: var(--brown);
    color: var(--white);
    text-align: center;
}

.product h3 {
    padding: 30px;
    font-size: 2rem;
    font-weight: 400;
}

.product__card img {
    width: 70%;
    height: 220px;
    object-fit: contain;
}

.product__card h4 {
    padding: 50px;
}

.product__card p {
    padding-bottom: 40px;
    font-size: 0.8rem;
}

.product__btn {
    padding: 8px;
    background-color: var(--brown);
    color: var(--white);
    border: solid 1px var(--white);
}

.about {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 10px;
}

.about img {
    height: 150px;
    object-fit: contain;   

}

.about__description img {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    
}

.about__description h2 {
    
    align-items: center;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 500;
}






