@use "../abstract/variables" as * ;
@use "../components/mixins" as * ;



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
        line-height: 1.6rem;

    }




    
    
