@use "../abstract/variables" as*;
@use "../components/mixins" as*;

// Section "About"
.about {
    background-color: $white;
    padding: 3rem 1.5rem;
    margin: 0 auto;
    // border-bottom: solid 2px $title;

    // Logo (poche à douille)
    &__logo {
        img {
            width: 120px;
            margin: 0 auto 2rem;
            display: block;
        }
    }

    // Bloc titre avec icône + H2
    &__title {
        img {
            width: 32px;
            margin: 1rem auto;
            display: block;
            text-align: center;
        }

        h2 {
            font-size: 1.3rem;
            line-height: 1.4;
            color: $title;
            margin-bottom: 1.5rem;
            padding: 0 1rem;
            text-align: center;
        }
    }

    // Texte + bouton
    &__description {
        p {
            font-size: 0.9rem;
            line-height: 1.6;
            color: $text;
            margin-bottom: 2rem;
            padding: 0 1rem;
        }
    }

    &__button {
        margin-bottom: 80px;
        padding: 0.7rem 1.4rem;
        background-color: $brown;
        border: none;
        color: $white;
        font-size: 0.9rem;
    }
}