@use "../abstract/variables" as*;
@use "../components/mixins" as* ;


.banner {

    background-image: url("../images/haute-couture-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
    position: relative;
    

    &__title {
        background-color: $banner;
        width: 70%;
        height: 110px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.9;
        margin: 0 auto;
        padding : 15px;    
    }

    &__title h1 {
        font-size: 1.8rem;
        text-transform:capitalize;
    }   
    
}