@use "../abstract/variables" as*;
@use "../components/mixins" as*;

.location {

    &__container {
        position: relative;
        width: 100%;
        height: 50vh;
        border-radius: 4px;

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}